---
// Assets
import { Image } from "astro:assets";
import Avatar from "@/images/avatar.jpeg";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

// Experience
const experience = [
  {
    yearStart: "2023",
    yearEnd: "Current",
    role: "Head of R&D",
    company: "SPL",
  },
  {
    yearStart: "2020",
    yearEnd: "2023 (Acquired by SPL)",
    role: "Founder and Managing Director",
    company: "High Frequency",
  },
  {
    yearStart: "2017",
    yearEnd: "2020",
    role: "Head of RFID Implementation",
    company: "Simba Global",
  }
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-8 pb-12">
      <div class="max-w-xl overflow-hidden">
        <Text
          tag="h1"
          variant="textXL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          I apply my experience in technology and business management to solve problems,
          build solutions, and help take the commercial laundry industry into the 21st century.
        </Text>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-8 mt-2">
        <Text
          tag="p"
          variant="textBase"
          class="mt-2 text-base-500 dark:text-base-300 lg:text-balance order-first lg:order-last"
        >
          I'm Isaac Hayes, a technology advocate and leader in the commercial laundry industry.
          <br />
          <br />
          I work with technology and people to create systems and solutions that help drive the industry forward.
          <br />
          <br />
          I believe that technology should work in tandem with people and processes to help solve problems,
          and that technology should always be as simple as possible.
          <br />
          <br />
          "Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away."
          - Antoine de Saint-Exupéry
        </Text>

        <Image
          width={1000}
          height={2000}
          src={Avatar}
          alt="#_"
          class="w-full aspect-square mt-2 object-cover object-right"
        />
      </div>
    </Wrapper>
  </section>
  <section class="overflow-hidden relative">
    <Wrapper class="py-12">
     <div class="overflow-hidden">
        <Text
          tag="h3"
          variant="textLG"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          Experience
        </Text>
     </div>
      <ul
        role="list"
        class="grid grid-cols-2 md:grid-cols-3 gap-y-8 mt-1 relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-neutral-50 dark:after:bg-neutral-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 divide-base-200 dark:divide-base-900 after:right-0 after:left-20 after:h-px"
      >
        {
          experience.map((job) => (
            <li class=" items-baseline lg:grid-cols-4 py-2 ">
              <Text
                tag="h3"
                variant="textBase"
                class="text-base-900  dark:text-white"
              >
                {job.yearStart} - {job.yearEnd}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="text-base-500 dark:text-base-400"
              >
                {job.role}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="text-base-500 dark:text-base-500"
              >
                {job.company}
              </Text>
            </li>
          ))
        }
      </ul>
    </Wrapper>
  </section>
</BaseLayout>
