---
// Assets
import { Image } from "astro:assets";
import Avatar from "@/images/avatar.jpeg";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import LogoCloud from "@/components/assets/LogoCloud.astro";
// Awards
const awards = [
  {
    url: "#_",
    name: "Elliot Hayes",
    award: "Best Interactive Experience",
    organization: "AWWWARDS",
    project: "Nebula UI",
  },
  {
    url: "#_",
    name: "Jordan Blake",
    award: "Innovation in Design",
    organization: "FWA",
    project: "Vortex Labs",
  },
  {
    url: "#_",
    name: "Samantha Cole",
    award: "Honorable Mention",
    organization: "CSSDA",
    project: "Echo Framework",
  },
  {
    url: "#_",
    name: "Alex Monroe",
    award: "Best Web Experience",
    organization: "The Webby Awards",
    project: "Quantum Edge",
  },
  {
    url: "#_",
    name: "Dylan Reeves",
    award: "UX Excellence",
    organization: "CSSDA",
    project: "Stratosphere",
  },
  {
    url: "#_",
    name: "Taylor Brooks",
    award: "Site of the Day",
    organization: "AWWWARDS",
    project: "Horizon Studio",
  },
  {
    url: "#_",
    name: "Morgan Ellis",
    award: "Cutting-Edge Design",
    organization: "FWA",
    project: "Atlas Platform",
  },
  {
    url: "#_",
    name: "Cameron Scott",
    award: "Best UI Concept",
    organization: "AWWWARDS",
    project: "Opus Interface",
  },
  {
    url: "#_",
    name: "Sydney Clarke",
    award: "Site of the Day",
    organization: "CSSDA",
    project: "Nova Grid",
  },
  {
    url: "#_",
    name: "Parker West",
    award: "Design Excellence",
    organization: "CSSDA",
    project: "Lunar Systems",
  },
  {
    url: "#_",
    name: "Reese Bennett",
    award: "Honorable Mention",
    organization: "AWWWARDS",
    project: "Echo Framework",
  },
];

// Experience
const experience = [
  {
    yearStart: "2022",
    yearEnd: "2025",
    role: "Lead Web Developer & Product Designer",
    company: "Nexus Tech",
  },
  {
    yearStart: "2021",
    yearEnd: "2022",
    role: "Senior Web Developer",
    company: "PixelCraft Studios",
  },
  {
    yearStart: "2019",
    yearEnd: "2021",
    role: "Product Designer & Front-End Developer",
    company: "WebSolutions Inc.",
  },
  {
    yearStart: "2017",
    yearEnd: "2018",
    role: "Web Developer",
    company: "TechLabs",
  },
  {
    yearStart: "2015",
    yearEnd: "2016",
    role: "Junior Product Designer",
    company: "InnoDesign",
  },
  {
    yearStart: "2013",
    yearEnd: "2015",
    role: "Web Development Intern",
    company: "DevWorks",
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-8 pb-12">
      <div class="max-w-xl overflow-hidden">
        <Text
          tag="h1"
          variant="textXL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          I apply my experience in development and technology to solve problems,
          build solutions, and create seamless user experiences.
        </Text>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-8 mt-2">
        <Text
          tag="p"
          variant="textBase"
          class="mt-2 text-base-500 dark:text-base-300 lg:text-balance order-first lg:order-last"
        >
          I'm Alex Moreno, a Web Developer and Product Designer based in
          Barcelona, Spain. With over 10 years of experience in digital design
          and development, I’ve had the pleasure of collaborating with
          innovative brands such as SolanaTech, Virtuo, PixelSpace, and
          Driftworks. My work bridges the gap between design and technology,
          ensuring that every product I build is not only visually compelling
          but also highly functional and performance-driven.
          <br />
          <br />
          I specialize in crafting intuitive user interfaces, optimizing front-end
          architecture, and developing seamless digital experiences that align with
          both user needs and business goals. My approach combines modern development
          practices, accessibility principles, and pixel-perfect design execution
          to create products that stand out in a competitive landscape.
          <br />
          <br />
          Currently, I’m focused on building impactful user experiences and sleek,
          functional web solutions. I’m passionate about emerging technologies, web
          performance, and scalable design systems, always striving to push the boundaries
          of what’s possible on the web.
        </Text>

        <Image
          width={1000}
          height={2000}
          src={Avatar}
          alt="#_"
          class="w-full aspect-square mt-2 object-cover object-right"
        />
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper class="py-12">
      <div class="overflow-hidden">
        <Text
          tag="h3"
          variant="textLG"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          Awards &amp; honors
        </Text>
      </div>
      <ul
        role="list"
        class="flex flex-col gap-1 mt-1 relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-neutral-50 dark:after:bg-neutral-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 divide-y last-of-type:border-b last-of-type:border-base-200 dark:last-of-type:border-base-900 divide-base-200 dark:divide-base-900 after:right-0 after:left-20 after:h-px"
      >
        {
          awards.map((award) => (
            <li class="grid grid-cols-2 md:grid-cols-4 items-baseline lg:grid-cols-4 py-2 relative">
              <a
                href={award.url}
                class="absolute inset-0 z-10"
                title={award.name}
                aria-label={award.name}
              />
              <Text
                tag="h3"
                variant="textBase"
                class="text-base-900  dark:text-white"
              >
                {award.name}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="text-base-500 dark:text-base-400"
              >
                {award.award}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="text-base-500 dark:text-base-500"
              >
                {award.organization}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="text-base-500 dark:text-base-600"
              >
                {award.project}
              </Text>
            </li>
          ))
        }
      </ul>
    </Wrapper>
  </section>
  <LogoCloud />
  <section class="overflow-hidden relative">
    <Wrapper class="py-12">
     <div class="overflow-hidden">
        <Text
          tag="h3"
          variant="textLG"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          Experience
        </Text>
     </div>
      <ul
        role="list"
        class="grid grid-cols-2 md:grid-cols-3 gap-y-8 mt-1 relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-neutral-50 dark:after:bg-neutral-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 divide-base-200 dark:divide-base-900 after:right-0 after:left-20 after:h-px"
      >
        {
          experience.map((job) => (
            <li class=" items-baseline lg:grid-cols-4 py-2 ">
              <Text
                tag="h3"
                variant="textBase"
                class="text-base-900  dark:text-white"
              >
                {job.yearStart} - {job.yearEnd}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="text-base-500 dark:text-base-400"
              >
                {job.role}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="text-base-500 dark:text-base-500"
              >
                {job.company}
              </Text>
            </li>
          ))
        }
      </ul>
    </Wrapper>
  </section>
</BaseLayout>
