---
import Badge from "@components/Badge.astro";
import { Icon } from "astro-icon";

interface Props {
  name: string;
  role: "Project Lead" | "Inventor" ;
  url: string;
  description: string | null;
  languages: string[];
  website: string | null;
}

const colors = {
  'Project Lead': "gradient-pink",
  'Inventor': "gradient-indigo",
} as const;

const { name, role, url, description, languages, website } = Astro.props;
---

<li
    class="dark:text-zinc-400 text-zinc-500 gap-1 p-6 border dark:border-zinc-700/60 rounded-lg flex flex-col bg-opacity-40 dark:bg-opacity-40 bg-zinc-50 dark:bg-zinc-800"
>
  <div class="flex justify-between">
    <div class="flex flex-col sm:flex-row sm:items-baseline gap-2">
      <h2
          class="text-lg font-medium dark:text-white text-zinc-700 [word-break:break-word]"
      >
        <a href={url} target="_blank" rel="noopener noreferrer" class="text-indigo-600 dark:text-indigo-400 hover:underline">
          {name}
        </a>
      </h2>
      <Badge text={role} color={colors[role]} />
    </div>
  </div>


  {description && <p class="leading-relaxed">{description}</p>}
  <ul class="flex flex-wrap gap-2 mt-2">
    {
      languages.map((item) => (
          <li class="dark:bg-zinc-700 bg-zinc-100 text-zinc-600 dark:text-zinc-300 rounded-md px-2 py-1 text-sm">
            {item}
          </li>
      ))
    }
  </ul>
</li>